@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');* {
    box-sizing: border-box;
}
body{
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: black;
    background-image: url("resources\20220307_145007975_iOS.jpg");
}